@media(min-width: 415px){
    .container{
        width: 100%;
        height: 100%;
        border-radius: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .video{
        width: 100%;
        height: 100%;
    }
    .picGif{
        width: 100%;
        height: 100%;
    }
}









/* NÃO MEXER */
    @media((min-width: 360px) and (max-width: 414px)){
    .container{
        width: 95vw;
    }
    .video{
        width: 100vw;
        height: 40vh;
        cursor: grab;
    }
    .picGif{
        width: 100vw;
        height: 31vh;
    }
}