    .inner{
        width: 220rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        height: 30rem;
    }
    .carousel{
        cursor: grab;
        overflow: hidden;
        max-width: 1900vw;
    }

/* NÃO MEXER */
@media((min-width: 360px) and (max-width: 414px)){
    .carousel{
        overflow: hidden;
        max-width: 510vw;
        height: 100%;
    }
    .inner{
        height: 18rem;
    }
    .teste{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15rem;
        overflow: hidden;
    }
}