.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img{
    margin: 3rem 0 0 0;
    width: 12vw;
}
.contact{
    margin: 6rem auto 0 auto;
    border: solid  0.5rem #000;
    font-size: 3rem;
    padding: 2rem 7rem 2rem 7rem;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 55vh;
    border: none;
}
.input{
    font-size: 1.2rem;
    background: transparent;
    width: 100%;
    height: 1rem;
    border: 0.5rem solid #000;
    border-style: none none solid solid;
    padding: 1.8rem;
}
.input::placeholder{
    position: absolute;
    top: 2rem;
    left: 2rem;
}
.form textarea {
    align-self: flex-start;
    justify-self: start;
    padding-bottom: 15rem;
    max-width: 40vw;
    min-width: 40vw;
    max-height: 29vh;
    text-wrap:wrap ;
    white-space: pre-wrap;
    overflow-wrap: break-word; 
    overflow: hidden;
}
.submit{
    font-size: 3rem;
    font-weight: 600;
    margin: 0 auto 3rem auto;
    border: solid  0.5rem #000;
    border-style: none solid none solid;
    background: transparent;
    padding: 1rem 4rem 1rem 4rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.submit:hover {
    background-color: #909090;
}
.submit:active {
    transform: translateY(2px);
    transition: transform 0.1s ease;
}