    .container{
        background-image: url('../assets/fundo.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        width: 100vw;
        height: 100vh;
        display: flex;
        gap: -10vw;
    }
    .leftSide{
        width: 50vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* background-color: red; */
    }
    .rightSide{
        width: 50vw;
        display: flex;
        flex-direction: column;
        margin-left: -5rem;
        /* background-color: blue; */
    }
    .flagBtn{
        padding: 1rem;
        border: none;
        background-color: transparent;
        margin-top: 1.5rem;
        margin-bottom: 13rem;
        cursor: pointer;
    }
    .flags{
        max-width: 50px;
        max-height: 50px;    
    }
    .luksImg{
        margin: auto;
        max-width: 70vw;
        max-height: 70vh;
        border-radius: 50%;
        filter: grayscale(100%);
        transition: filter 1.2s ease;
    }
    .luksImg:hover{
        filter: grayscale(0);
    }
    h2{
        margin-bottom: 1rem;
        font-size: 3rem;
    }
    h1{
        margin-bottom: 1rem;
        font-size: 6rem;
    }
    p{
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 2rem;
        color: #909090;
    }
@media (max-width: 1499px){
.container{
    background-image: url('../assets/fundo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 5rem;
}
.leftSide{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rightSide{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: blue; */
}
.flagsContainer{
    align-self: center;
    display: flex;
    width: 16rem;
    gap: 0.5rem;
}
.flagBtn{
    padding: 0.8rem;
    border: none;
    border-radius: 50%;
    margin-top: 1.5rem;
    margin-bottom: 13rem;
    cursor: pointer;
}
.flags{
    max-width: 50px;
    max-height: 50px;    
}
.luksImg{
    max-width: 70vw;
    max-height: 70vh;
    border-radius: 50%;
    filter: grayscale(100%);
    transition: filter 1.2s ease;
    align-self: center;
}
.luksImg:hover{
    filter: grayscale(0);
}
h2{
    text-align: center;
    margin-right: 6rem;
    margin-bottom: 1rem;
    font-size: 3rem;
}
h1{
    text-align: center;
    margin-right: 6rem;
    margin-bottom: 1rem;
    font-size: 6rem;
}
p{
    text-align: center;
    margin-right: 8rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #909090;
}
}