.header{
    width: 100vw;
    height: 17.5rem;
    margin-bottom: -0.3rem;
}
.container{
    width: 100vw;
    background-image: url('../assets/fundo2.jpg');
    background-size: cover;
}
@media((min-width: 360px) and (max-width: 414px)){
    .header{
        /* margin-left: -48vw; */
        width: 200vw;
        height: 10rem;
        margin-bottom: 1rem;
    }
    .container{
        background-image: url('../assets/fundo2.jpg');
        background-size: cover;
        width: 100vw;
        height: 65vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
}