.container{
    width: 20rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.linksBtn{
    border: none;
    border-radius: 1rem;
    box-shadow: 4px 5px 10px 2px rgba(0, 0, 0, 0.2);
    background-color: #c4c4c4;
    width: 61px;
    height: 56px;
    cursor: pointer;
}
@media (max-width: 1500px) {
    .container{
        width: 20rem;
        height: 5rem;
        display: flex;
        justify-content: start;
    }
    .linksBtn{
        border: none;
        border-radius: 1rem;
        box-shadow: 4px 5px 10px 2px rgba(0, 0, 0, 0.2);
        background-color: #c4c4c4;
        text-align: center;
        cursor: pointer;
    }
}
